@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-size: 14px;
}
/* Set dropdown-menu to display none by default */
.dropdown-menu {
    display: none;
  }
  
  /* Show dropdown-menu on hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .button{
    background-color: black;
    color: white;
    padding: 10px 50px 10px;
    border: none;
    border-radius: 16px;
    text-decoration: none;
  }
  .button:hover{
    background-color: white;
    color: black;
    padding: 10px 50px 10px;
  }
  ion-icon{
    color: white;
    font-size: 1.5em;
  }
  .footer-text{
    text-align: center;
    line-height: normal;
    letter-spacing:.1rem;
    font-size: 2em;
  }
  .nav-item .nav-link{
    text-decoration: none; /* Remove the default underline */
  position: relative;    /* Needed to position the pseudo-element */
  font-weight: bold;
  }
  .nav-item .nav-link:hover{
    text-decoration: none; 
  }
  .nav-item .nav-link::after{
    content: '';                        /* Required for pseudo-elements */
    position: absolute;                 /* Position the underline absolutely */
    left: 0;                            /* Start the underline from the left */
    bottom: -2px;                       /* Adjust the distance from the text */
    width: 100%;                        /* Set the width of the underline */
    height: 2px;                        /* Set the thickness of the underline */
    background-color: #000;             /* Choose your desired underline color */
    opacity: 0;                         /* Make the underline invisible by default */
    transition: opacity 0.3s ease;   
  }
  .nav-item .nav-link:hover::after{
    opacity: 1;
  }